replicaCount: 2

image:
  name: booking-service
  tag: staging
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

env:
  ENABLE_FEATURE_X: true

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"

livenessProbe:
  path: /ping
  initialDelaySeconds: 10
  periodSeconds: 15

readinessProbe:
  path: /ping
  initialDelaySeconds: 10
  periodSeconds: 10